#
# Sample configuration file for amprd 1.0
# 
# Default location: /etc/amprd.conf
#
# Another location can be specified using the -c option of the daemon
#

# Each interface has a section entry in square brackets
#
# first interface
#
[ampr0]

# the prefix and netmask for the interface
# if no netmask is set, /8 is assumed
# The ip address and mask is automatically
# set on the interfaces.
#
prefix = 44.182.21.1/8

# This interface receives RIPv2 messages
# All option below are active only if tis one is set.
#
# Default is "no"
#
rip_receive = yes

# The routes will be saved to disk under /var/lib/amprd/<interface_name>.txt
# The route files are automatically loaded on startup, even if this
# option is disabled.
# This allows operation with a standard encap file with the name set
# to <interface_name>.txt placed in the /var/lib/amprd/ folder
#
# Default is 'no'
#
rip_save = yes

# The daemon can set the routes in the system's routing table.
# All routes are created in the table 'main'.
# Routes are optimized, so there is usualy just a few.
# For a usual setup in the form ampr_ip/8, there is only one,
# coincidental the same as the one provided by the interface itself.
# If you restrict your ip space, the proper routes will appear.
#
# Default is 'no'
#
rip_set_routes = no

# The RIPv2 password. Default is the hardcoded default password.
# Only routes with proper password or no password if not set
# will be received.
# The password can be found by running the daemon with the
# debug option (-d) and no password set as below.
#
# rip_password = 

# List of gateways to be ignored by the daemon
# Local interfaces will be automatically detected
# Additional IPs can be set here.
# If you are behind NAT, set this to your external IP
# List has to be comma separated with no whitespaces
#
rip_ignore = 89.122.215.236,44.182.30.0/24

#
# RIP forwarding to a specific interface
# disabled by default
#
rip_forward = eth1

#
# Call home information
# If set, this string will be sent every 5 minutes via UDP
# to 44.182.21.1:59002 and used to create a live activity map
# 
#
#call_home = n0call@aa00aa

#
#  second interface
#

[ampr-second]
prefix=44.182.20.36/32

#
# If the interface isn't set to receive RIP messages,
# it will use the routes from all other interfaces,
# will not save its own routes, will not have its own
# ignore list and will not rebroadcast messages.
# Incomming data will be properly routed to this interface
#

